:root{
    --fonte: #EAEAEA;
    --fundo: #252A34;
    --fonte_mat: #FF2E63;
    --fonte_mat2: #08D9D6;
    --fundo2: #ed143d;

}
    body{
        background-color: var(--fundo);
        color: var(--fonte);
    }
    header.cabel{
        display: flex;
        background-color: var(--fundo2);
        justify-content: space-between;
    }
    #tividade {
        display: flex;
        gap: 3em;
        justify-content: space-between;
    }
    a{
        color: var(--fonte);
        text-decoration: none;
    }
    #shit{
        visibility: collapse;
        list-style: none;
        font-size: 1.2em;
        position: absolute;
        padding: 0.2em;
    }
    #shit a:hover{
        background-color: var(--fonte_mat2);
        color: var(--fundo);
    }
    div.lista_lista{
        justify-content: center;
        display: inherit;
        padding: 1em;
        list-style: none;
        font-size: 1.5em;
    }
    